<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %}Moja aplikacja do zarządzania budżetem{% endblock %}</title>
    <!-- Linkowanie pliku CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="/">Strona główna</a>
            <a href="/transactions">Zobacz transakcje</a>
            <a href="/add">Dodaj transakcję</a>

            {% if user.is_authenticated %}
                <p>Witaj, {{ user.username }}!</p>
                <!-- Formularz wylogowania -->
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Wyloguj się</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Zaloguj się</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>