{% extends 'base.html' %}

{% block title %}Transakcje{% endblock %}

{% block content %}
    <h1>Twoje transakcje</h1>
    <ul>
        {% for transaction in transactions %}
            <li>n
                {{ transaction.category }}: {{ transaction.amount }} - {{ transaction.date }}
                <!-- Formularz do usuwania transakcji -->
                <form method="POST" action="{% url 'delete_transaction' transaction.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Usuń</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}